<% form_tag do %>
  <fieldset><legend>Log In</legend>
    <p style="color: green"><%= flash[:notice] %></p>
    <%= label_tag :email %> <%= text_field_tag :email, params[:email] %>
    <%= submit_tag("Login") + ' or ' + link_to('Sign up for '+APP_NAME, :signup) %>
  </fieldset>
<% end %>
